*
!packages/website/src
!packages/website/public
!packages/website/.eslintrc.js
!packages/website/jsconifg.json
!packages/website/tsconfig.json
!packages/website/tailwind.config.mjs
!packages/website/panfactum-theme.mjs
!packages/website/package.json
!packages/website/components.json
!packages/website/astro.config.mjs
!packages/website/.prettierrc.mjs
!packages/scraper/package.json
!packages/scraper/src
!packages/scraper/.eslintrc.js
!packages/scraper/tsconfig.json
!packages/reference/services/demo-user-service/src
!packages/reference/services/demo-user-service/package.json
!packages/reference/services/demo-user-service/tsconfig.json
!packages/eslint/package.json
!packages/eslint/index.js
!packages/bastion
!.npmrc
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

