*
!packages/website/src
!packages/website/public
!packages/website/eslint.config.js
!packages/website/tsconfig.json
!packages/website/package.json
!packages/website/astro.config.mjs
!packages/website/ec.config.mjs
!packages/website/.prettier.mjs
!packages/website/postcss.config.cjs
!packages/website/bun.lock
!packages/website/bunfig.toml
!packages/scraper/package.json
!packages/scraper/src
!packages/scraper/.eslintrc.js
!packages/scraper/tsconfig.json
!packages/scraper/bun.lock
!packages/scraper/bunfig.toml
!packages/reference-typescript/src
!packages/reference-typescript/package.json
!packages/reference-typescript/tsconfig.json
!packages/reference-typescript/pnpm-lock.yaml
!packages/reference-typescript/.npmrc
!packages/bastion

