*
!packages/website/src
!packages/website/public
!packages/website/.eslintrc.js
!packages/website/.remarkrc.mjs
!packages/website/next.config.mjs
!packages/website/package.json
!packages/website/plugin.remark.mjs
!packages/website/postcss.config.js
!packages/website/tailwind.config.js
!packages/website/theme.js
!packages/website/tsconfig.json
!packages/eslint/package.json
!packages/eslint/index.js
!packages/bastion
!.npmrc
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

