.devenv.flake.nix
.devenv/
.direnv/
.idea
.env
.podman
go
!packages/reference/.env
!packages/reference/.direnv
!packages/reference/.devenv
.pnpm/
.cspell/
node_modules/

*.bkp
.terragrunt-cache
.terraform

.DS_Store

# https://docs.cursor.com/context/codebase-indexing#working-with-large-monorepos
.cursorignore

.tmp-panfactum-install-config.json
**/.claude/settings.local.json
tmp
.claude/tasks
