.direnv/
.idea
.env
.podman
go
!.envrc
.pnpm/
.cspell/
node_modules/
*.bkp
.terragrunt-cache
.terraform
.terraformrc
.terraformrc.dev
.nats
.DS_Store
# https://docs.cursor.com/context/codebase-indexing#working-with-large-monorepos
.cursorignore
.tmp-panfactum-install-config.json
**/.claude/settings.local.json
tmp
.claude/tasks
*.user.yaml
result
.devenv
.direnv
