.icon-box {
  border: 2px solid;
  border-color: #2f688e;
  box-shadow:
    0px 1px 2px 0px var(--colors-effects-shadows-shadow-xs),
    0px -2px 0px 0px #1018280d inset,
    0px 0px 0px 1px #1018282e inset;
  background-color: #2f688e;
}

.scroll-container {
  width: 100vw;
  position: relative;
}

.move-icon {
  --size: 80px;
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  padding: 10px;
  display: inline-flex;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 1s linear;
}

.move-icon.faded {
  opacity: 0.2;
}

.scroll-wrapper {
  column-gap: 20px;
  white-space: nowrap;
  animation: smoothScroll 30s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

.scroll-wrapper-reverse {
  column-gap: 20px;
  white-space: nowrap;
  animation: smoothScrollReverse 30s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes smoothScroll {
  from {
    transform: translate(-10%, 0);
  }
  to {
    transform: translate(calc(-60% - 10px), 0);
  }
}

@keyframes smoothScrollReverse {
  from {
    transform: translate(calc(-50% - 10px), 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.fade-container {
  position: relative;
  height: 140px; /* Adjust based on your box height */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.fade-box {
  position: absolute;
  width: 100%;
  max-width: 768px;
  height: 96px;
  opacity: 0;
  transform: translateX(-100%) translateY(40px);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  border-radius: 5px;
}

.fade-box:nth-child(1) {
  animation: fadeSlide 15s infinite;
}

.fade-box:nth-child(2) {
  animation: fadeSlide 15s infinite;
  animation-delay: 3s;
}

.fade-box:nth-child(3) {
  animation: fadeSlide 15s infinite;
  animation-delay: 6s;
}

.fade-box:nth-child(4) {
  animation: fadeSlide 15s infinite;
  animation-delay: 9s;
}

.fade-box:nth-child(5) {
  animation: fadeSlide 15s infinite;
  animation-delay: 12s;
}

@keyframes fadeSlide {
  0%,
  80% {
    opacity: 0;
    transform: translateY(40px);
  }

  /* Fade in and slide up to position */
  3%,
  17% {
    opacity: 1;
    transform: translateY(0);
  }

  /* Start fade out and slide up */
  20% {
    opacity: 0;
    transform: translateY(-40px);
  }

  /* Keep element hidden until its next turn */
  23%,
  77% {
    opacity: 0;
    transform: translateY(40px);
  }
}
