@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Scrollbar */
  * {
    scrollbar-gutter: stable;
  }

  @supports selector(*::-webkit-scrollbar) {
    *::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    *::-webkit-scrollbar-track {
      @apply bg-gray-light-mode-300 dark:bg-gray-dark-mode-800;
    }

    *::-webkit-scrollbar-thumb {
      @apply border-[2px] border-solid border-gray-light-mode-300 bg-gray-light-mode-500 dark:border-gray-dark-mode-800 dark:bg-gray-dark-mode-600;
      border-radius: 14px;
    }
  }

  @supports not selector(*::-webkit-scrollbar) {
    * {
      scrollbar-gutter: stable;
      @apply [scrollbar-color:theme(colors.gray.dark-mode.500)_theme(colors.gray.dark-mode.300)] dark:[scrollbar-color:theme(colors.gray.dark-mode.600)_theme(colors.gray.dark-mode.800)];
    }
  }

  .banner {
    display: none;
  }
  [data-banner] {
    .banner {
      display: flex;
    }
  }
}
