@layer base {
  :root {
    --sidebar-width: 20rem;
    --toc-width: 14rem;
    --header-height: 4rem;

    /****************************************************
    **************   Colors    ************************
    *****************************************************/
    /* What the fuck are these */
    --colors-brand-primary_alt: rgba(22, 27, 38, 1);
    --colors-brand-doc-info: rgba(20, 52, 73, 1);
    --colors-brand-doc-warning: rgba(39, 34, 29, 1);
    --colors-brand-doc-success: rgba(23, 37, 31, 1);
    --colors-brand-doc-error: rgba(38, 23, 22, 1);
  }

  [data-banner] {
    --header-height: 8rem;
  }
}