.faq-content {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.faq-content[data-expanded] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--kb-accordion-content-height);
    }
}
@keyframes slideUp {
    from {
        height: var(--kb-accordion-content-height);
    }
    to {
        height: 0;
    }
}