.icon-box {
  border: 2px solid;
  border-color: #2f688e;
  box-shadow:
    0px 1px 2px 0px var(--colors-effects-shadows-shadow-xs),
    0px -2px 0px 0px #1018280d inset,
    0px 0px 0px 1px #1018282e inset;
  background-color: #2f688e;
}

.scroll-container {
    height: 100px;
    width: 100%;
    position: relative;
    overflow: visible;
}

.scroll-wrapper {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: smoothScroll 30s linear infinite;
}

.move-icon {
  flex: none;
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.scroll-container.is-reversed .scroll-wrapper {
    display: flex;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    top: 0px;
    right: 0px;
    animation: smoothScrollReverse 20s linear infinite;
}



@keyframes smoothScroll {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes smoothScrollReverse {
    from {
      transform: translate(-200%, 0);
    }
    to {
      transform: translate(-100%, 0);
    }
  }


.fade-container {
  position: relative;
  height: 176px; /* Adjust based on your box height */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.fade-box {
  position: absolute;
  width: 100%;
  max-width: 768px;
  height: 96px;
  opacity: 0;
  transform: translateX(-100%) translateY(40px);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  border-radius: 5px;
}

.fade-box:nth-child(1) {
  animation: fadeSlide 15s infinite;
}

.fade-box:nth-child(2) {
  animation: fadeSlide 15s infinite;
  animation-delay: 3s;
}

.fade-box:nth-child(3) {
  animation: fadeSlide 15s infinite;
  animation-delay: 6s;
}

.fade-box:nth-child(4) {
  animation: fadeSlide 15s infinite;
  animation-delay: 9s;
}

.fade-box:nth-child(5) {
  animation: fadeSlide 15s infinite;
  animation-delay: 12s;
}

@keyframes fadeSlide {
  0%, 80% {
    opacity: 0;
    transform: translateY(40px);
  }
  
  /* Fade in and slide up to position */
  3%, 17% {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Start fade out and slide up */
  20% {
    opacity: 0;
    transform: translateY(-40px);
  }
  
  /* Keep element hidden until its next turn */
  23%, 77% {
    opacity: 0;
    transform: translateY(40px);
  }
}
  

/* Landing Price Comparison Section */
.is-cell {
  height: 64px;
  display: flex;
  align-items: center;
}