@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .tippy-box {
    @apply bg-primary border-none dark:border-solid border-2 dark:text-offWhite p-2 z-10 !important;
  }
  .tippy-arrow:before {
    @apply text-primary dark:m-[-1px] dark:text-white z-0;
  }
}
