.toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.2s;
}

.slider:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: transparent;
  /* Transparent since we have a handle element */
  transition: transform 0.2s;
}

.slider-handle {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  /* ensures image is contained within the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.slider-handle img {
  max-width: 70%;
  max-height: 70%;
}

.toggle-switch input:checked + .slider {
  background-color: #2f688e;
}

.toggle-switch input:checked + .slider .slider-handle {
  transform: translate(14px, -50%);
  /* Move the handle to the right */
}
