.grid-item {
  transition: grid 0.25s ease;
  cursor: grab;
  border-radius: 10px;
  width: 88px;
  height: 88px;
  aspect-ratio: 1;
}

.grid-item.is-expanded {
  width: 100%;
  height: 100%;
  grid-column: span 5;
  grid-row: span 3;
  aspect-ratio: 5/3;
}
