apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# list of Resource Config to be Applied
resources:
  - all.yaml

patches:
  - path: deployment.yaml
    target:
      kind: Deployment
      name: gha-controller
