/* Rotating SVG */
.circling-planets {
  animation: rotatingPlanets 20s linear infinite; /* Rotate infinitely */
}

@keyframes rotatingPlanets {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#hero-icon-1 {
  animation: iconUpDown 3s infinite 0.75s ease-out;
}

#hero-icon-2 {
  animation: iconUpDown 3s infinite 1.25s ease-out;
}

#hero-icon-3 {
  animation: iconUpDown 3s infinite ease-out;
}

#hero-icon-4 {
  animation: iconUpDown 3s infinite 0.5s ease-out;
}

@keyframes iconUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(145px);
  }
  75% {
    transform: translateY(145px);
  }
  100% {
    transform: translateY(0);
  }
}

.circling-icons {
  animation: circlingIcons 40s infinite linear;
}

@keyframes circlingIcons {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.circling-icon {
  animation: circlingIcon 40s infinite linear;
}

@keyframes circlingIcon {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
