apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# list of Resource Config to be Applied
resources:
  - all.yaml

patches:
  - path: configmap.yaml
    target:
      kind: ConfigMap
      name: ingress-nginx-controller
